@import url('https://fonts.googleapis.com/css2?family=MuseoModerno&display=swap"');
.spaceship-body{
    height:100vh;
}
.spaceship-img{
    height:200px;
    width:auto;
}

.spaceship-text{
    font-size: 12;
    font-family: 'MuseoModerno', cursive;
}